* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  margin: auto;
}

.btn {
  margin: 50px auto;
  padding: 10px;
  border: 3px solid red;
  outline: none;
  background-color: black;
  border-radius: 20px;
  color: white;
}
